.container {
    display: flex;
    width: 100%;
    background-color: white;
    height: 10rem;
    border-radius: var(--application-border-radius);
    padding: 10px;

}

.mealImg {
    height: 100%;
    aspect-ratio: 1;
    margin-right: 2rem;
    object-fit: cover;
    border-radius: var(--application-border-radius);
}

.informationBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
}

.headerTxt {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 0.5rem;
}